@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "login.css";
@import "header.css";
@import "content.css";
@import "footer.css";
@import "videojs.css";

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    border-color: transparent;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus .footer-2-4 .list-footer li a {
    border-color: transparent;
    --tw-ring-color: transparent;
}

.btn.focus\:ring-2:focus {
    --tw-ring-offset-shadow: transparent;
    --tw-ring-shadow: transparent;
}

.input-primary-outline {
    @apply bg-[#212121] focus:bg-[#333333] border-[#7bee85] focus:border-[#7bee85];
    @apply file:bg-[#7bee85] file:text-white text-white file:rounded-md file:p-2;
}

.input-error {
    @apply ring ring-red-600;
}

.btn-tools {
    background-image: linear-gradient(
        rgba(208, 254, 123, 1),
        rgba(163, 252, 158, 1)
    );
}

.btn-tools:hover {
    background-image: linear-gradient(
        rgb(182, 245, 65, 1),
        rgb(89, 247, 81, 1)
    );
    color: #ffff;
}
